h6{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;

    /* or 156% */
    letter-spacing: 0.42px;

    color: #EDF7FF;
}
h4{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;

    /* or 85% */
    letter-spacing: 0.42px;

    color: #FFFFFF;
    margin: 20px 1px;
}
