.App {
  text-align: center;
  width: 100%;
}

.Col {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  /* or 137% */
  text-align: center;
  letter-spacing: 0.42px;
  color: #000000;
  border-bottom: 0.01em solid rgba(0,0,0,0.1);
  padding:50px ;
}

.VectorImg{
  background: transparent;
  width: 30%;
}

.VectorP{
  height: 42px;
  left: 310px;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 53px;

  /* or 184% */
  letter-spacing: 0.42px;

  color: #000000;
}
